

* {
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: sans-serif;
  background-color: #ecf0f1;
  animation: bgcolor both 1 15s;
  animation-fill-mode: forwards;
  min-height: 100em;
}

@keyframes bgcolor{
  0%
  {
    background: #ecf0f1;
  }
  10%
  {
    background: #ecf0f1;
  }
  20%
  {
    background: #e74c3c;
  }
  40%
  {
    background: #2c3e50;
  }
  60%
  {
    background: #2c3e50;
  }
  80%
  {
    background: #000000;
  }
  100%
  {
    background: #000000;
  }
}

.mobile{
  display: none;
}
@media only screen and (max-width: 600px){
  body{
    overflow: hidden;
  }
  .desktop{
    display:none;
  }
  .mobile{
    display: inline-block;
  }
}


#nav-bar{
  display:flex;
  position: fixed;
  margin: -10% auto auto 1%;
}
#nav-bar .nav{
    display: inline-block;
    z-index: 5;
    margin-right: 1em;
  }

.bg-img{
  background-image: url(../images/animations/03.png);
  background-position: center;
  background-size: cover;
  height: 590px;
  width: 450px;
  position: absolute;
  top: 20em;
  left: -10em;
  bottom: -8em;
  z-index: -1;
}

.box{
  height: 500px;
  width: 1000px;
  background-color: #feffff;
  margin: 10em auto;
  position: relative;
  overflow: hidden;
}

nav{
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 2em;
  right: 3em;
  z-index: 2;
}

nav a{
  display: inline;
  margin: 1em;
  padding: 2em 0;
  text-decoration: none;
  color: var(--main-color);  
  font-size: 14px;
}

h1{
  position: absolute;
  margin: 2em 4em;
  text-transform: uppercase;
  font-family: 'ITC Avant Garde','Noto Sans TC','Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 10px;
  color: rgb(29, 29, 29);
  z-index: 2;
}

p{
  position: absolute;
  font-size: 28px;
  font-weight: 900;
  width: 17em;
  margin-top: 7em;
  margin-left: 9em;
  margin-right: 3em;
  line-height: 1.3em;
  z-index: 2;
}

@media only screen and (max-width: 600px){
  #nav-bar{
    display:flex;
    position: fixed;
    top: 1%;
    left: 1.3%;
    margin: 0;
  }
  #nav-bar .nav{
      display: inline-block;
      z-index: 5;
      margin-right: 1em;
    }
    .bg-img{
      top: 9.5em;
    }
  .box{
    height: 400px;
    width: 300px;
    background-color: #feffff;
    margin: 8em auto;
    position: relative;
    overflow: hidden;
  }
  
  nav{
    list-style: none;
    display: inline-block;
    position: absolute;
    top: 1em;
    right: .5em;
    z-index: 2;
  }
  
  nav a{
    display: inline;
    margin: 1em;
    padding: 2em 0;
    text-decoration: none;
    color: var(--main-color);  
    font-size: 14px;
  }
  
  h1{
    position: absolute;
    margin: 6.2em 2em;
    text-transform: uppercase;
    font-family: 'ITC Avant Garde','Noto Sans TC','Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 6px;
    color: rgb(29, 29, 29);
    z-index: 2;
  }
  
  p{
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    width: 7em;
    margin-top: 4em;
    margin-left: .9em;
    margin-right: 4em;
    line-height: 1.2em;
    z-index: 2;
  }
}

/* -------BOX ANIMATIONS------ */
.grey-box{
  height: 700px;
  width: 1200px;
  background-color: rgb(179, 165, 165);
  position: absolute;
  z-index: 1;
  animation: down 5s both 1 linear;
}

.black-box-2{
  height: 900px;
  width: 1400px;
  background-color: #000000;
  position: absolute;
  z-index: 4;
  animation: up 7s both 1 ease-in-out;
}


@keyframes right {
  from {transform: translateX(-900px)}
  to{transform: translateX(0px)}
} 

@keyframes down {
  from {transform: translateY(-200em)}
  to{transform: translateY(-5em)}
}

@keyframes up {
  from {transform: translateY(1000em)}
  to{transform: translateY(0em)}
}

.text{
  color: white;
  z-index: 5;
  animation: textentering 8s both 1 ease-in-out;
  animation-delay: 5s;
}

@keyframes textentering {
  from {transform: translateX(-1500px)}
  to{transform: translateX(0px)}
} 

.wavy span{
  position: relative;
  display: inline-block;
  animation: wave 9s ease-in-out 2;
  animation-delay: calc(0.1s * var(--i));
  animation-fill-mode: forwards;
}

@keyframes wave 
{
  0%{transform: translateY(0px)}
  20%{transform: translateY(-30px)}
  40%{transform: translateY(0px)}
  100%{opacity: 0}
}


@media only screen and (max-width: 600px){
  .text{
    margin-left: 4em;
    margin-top: 3em;
  }
}

/* -------MOVIE------ */
.lady{
  height: 416px;
  width: 110px;
  z-index: 5;
  position: absolute;
  top: 33%;
  left: 45%;

  background-image: url(../images/animations/lady2.jpg);
  background-repeat: no-repeat;
  animation: movietime 5s both 1 15s, 
            jumpinglady 1.2s infinite linear;
  animation-timing-function: steps(8, end);
}

@keyframes movietime 
{
  0%{opacity: 0}
  50%{opacity: 1}
  100%{opacity: 0}
}

@keyframes jumpinglady
{
from{background-position-x: 0;}
to{background-position-x: -1170px;}
}

@media only screen and (max-width: 600px){
  .lady{
    top: 33%;
    left: 35%;
  }
}

/* -------SCROLLING DOWN TEXT------ */
.scroll-down{
  position: absolute;
  top: 45%;
  left: 43%;
  font-family: 'ITC Avant Garde','Noto Sans TC','Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  color: white;
  z-index: 6;
  opacity: 0;
  animation: 4s slidedown 20s 1;
}

@keyframes slidedown{
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}
@media only screen and (max-width: 600px){
  .scroll-down{
    position: absolute;
    top: 45%;
    left: 34%;
  }
}

/* -------SCROLLING DOWN------ */
h2{
  position: absolute;
  top: 1300px;
  left: 630px;
  font-family: 'ITC Avant Garde','Noto Sans TC','Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 24px;
  letter-spacing: 11px;
  color: white;
  text-transform: uppercase;
  z-index: 2;
}

@media only screen and (max-width: 600px){
  h2{
    display: none;
  }
  
}